/* 변수 */
:root{
    /*디바이스 별 글씨 크기 기준*/
    --fs-pc:16px;
    --fs-pad:14px;
    --fs-mo:12px;

    /* 행간 */
    --lh1:1.2;
    --lh2:1.45;

    /* 태그 글씨 크기 */
    --fs-h4:1.25rem;
    --fs-h3:1.5625rem;
    --fs-h2:1.9531rem;
    --fs-h1:2.4414rem;
    --fs-body1:1rem;
    --fs-body2:0.85rem;
    --fs-detail:0.7225rem;

    /* 글씨 두께 */
    --fw1:400;
    --fw2:700;

    /* 여백 */
    --space-3x-large:6rem;
    --space-2x-large:3rem;
    --space-x-large:2rem;
    --space-normal:1rem;
    --space-x-small:0.5rem;
    --space-2x-small:0.25rem;


    /* 색상 */
    --beige-100:#FCF5ED; 
    --beige-200:#F6E9DA;
    --beige-300:#EEDCC7;
    --beige-400:#E1CCB4;
    --beige-500:#D0BAA0;
    --beige-600:#B9A48B;
    --beige-700:#9D8973;
    --beige-800:#7C6C5A;
    --beige-900:#594E40;

    /*그레이컬러*/
    --gray-0:#ffffff;
    --gray-100:#FBFBFB;
    --gray-200:#F3F3F3;
    --gray-300:#E7E7E7;
    --gray-400:#D6D6D6;
    --gray-500:#BEBEBE;
    --gray-600:#9E9E9E;
    --gray-700:#777777;
    --gray-800:#494949;
    --gray-900:#1A1A1A;

    /* 서브컬러 */
    --sub-color:#C5705D;
    --red:#D30404;

}

h1{font-size:var(--fs-h1);}
h2{font-size:var(--fs-h2);}
h3{font-size:var(--fs-h3);}
h4{font-size:var(--fs-h4);}
p{line-height:var(--lh2);}

html{
    font-size:var(--fs-pc);
    font-family: 'Pretendard',sans-serif;
    font-weight: var(--fw1);
    color:var(--gray-900);
    scroll-behavior:smooth;
}

main{
    margin-top:154px;
}

.common-frame{
    padding:0 var(--space-2x-large);
}

.pc{display:block;}
.pad{display:none;}
.mo{display:none;}


.title-1{
    font-weight: var(--fw2);
}

.desc-1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color:var(--gray-700);
}

.title{
    text-align:center;
    color:var(--gray-900);
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items:center;
    margin-bottom: 3rem;
}

.title h1{
    font-weight:var(--fw2);
}

.title span{
    width:1rem;
    height:0.125rem;
    background-color: var(--gray-900);
}

main>section{
    padding:var(--space-3x-large) 0;
}


.pay-original{
    color:var(--gray-500);
    font-size: var(--fs-body2);
}

.pay-original span{
    text-decoration: line-through;
}

.pay-discount{
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.discount{
    font-size: var(--fs-body2);
}

.pay{
    color: var(--red);
}

.grid-list{
    display:grid;
    grid-template-columns: repeat(4,minmax(50px,1fr));
    gap:3rem 1rem;
}


.grid-list li figure{
    line-height:0;
    margin-bottom: 1.75rem;
}

.grid-list li figure img{
    aspect-ratio: 1/1;
    width:100%;
    object-fit: cover;
    border-radius:0.5rem;
}

.like-badge.noab{
    position:initial;
}

.sale-txt{
    display:flex;
    flex-direction: column;
    gap:.5rem;
}



@media (max-width:1024px){
    .pc{display:none;}
    .pad{display:block;}
    .mo{display:none;}

    main{
        margin-top:5rem;
    }

    html{
        font-size:var(--fs-pad);
    }
    .common-frame{
        padding:0 var(--space-x-large);
    }
}

@media (max-width:768px){
    .pc{display:none;}
    .pad{display:none;}
    .mo{display:block;}

 html{
    font-size:var(--fs-mo);
 }   
 .common-frame{
    padding:0 var(--space-normal);
 }

  .grid-list{
    grid-template-columns: repeat(2,minmax(50px,1fr));
    }
}